Source: switcher
Priority: optional
Section: libs
Build-Depends:
 automake,
 autotools-dev,
 bison,
 cdbs,
 debhelper (>= 7.0.0),
 dh-buildinfo,
 doxygen,
 gsoap,
 libglib2.0-dev,
 libgstreamer-plugins-base0.10-dev,
 libgstreamer0.10-dev,
 libgtk2.0-dev,
 libjson-glib-dev,
 liblo-dev,
 libportmidi-dev,
 libpulse-dev,
 libshmdata-0.8-dev,
 linux-libc-dev,
 pkg-config
Homepage: http://code.sat.qc.ca/redmine/projects/switcher
Standards-Version: 3.9.2
Maintainer: Nicolas Bouillot <nicolas.bouillot@gmail.com>
Vcs-Git: git://code.sat.qc.ca/switcher.git
Vcs-Browser: http://code.sat.qc.ca/redmine/projects/switcher/repository

Package: libswitcher-0.4-dev
Section: libdevel
Architecture: all
Provides: libswitcher-dev
Replaces: libswitcher-dev
Conflicts: libswitcher-dev
Suggests: libswitcher-0.4-doc
Depends: 
 libswitcher-0.4-0 (= ${binary:Version}),
 ${misc:Depends}
Description: Switcher for audio, video, data and network streams. 
 Switcher is the successor of Scenic's milhouse utility. It provides basic video  
 signal routing, switching and mixing features. It was created at the 
 Society for Arts and Technology (SAT) to give to artists a powerful tool for 
 telepresence in contexts of live arts and new media installations.
 .
 This package contains headers, documentation and static libraries.

Package: libswitcher-0.4-0
Section: libs
Architecture: any
Suggests: libswitcher-0.4-dev
Depends:
 gstreamer0.10-ffmpeg,
 gstreamer0.10-plugins-bad,
 gstreamer0.10-plugins-base,
 gstreamer0.10-plugins-good,
 gstreamer0.10-plugins-ugly,
 libjson-glib-1.0-0,
 ${shlibs:Depends},
 ${misc:Depends}
Description: Switcher for audio, video, data and network streams. 
 Switcher is the successor of Scenic's milhouse utility. It provides basic video 
 signal routing, switching and mixing features. It was created at the 
 Society for Arts and Technology (SAT) to give to artists a powerful tool for 
 telepresence in contexts of live arts and new media installations.
 .
 This package contains the binary shared libraries.

Package: libswitcher-0.4-doc
Section: doc
Architecture: all
Recommends: libswitcher-0.4-dev
Depends:
 ${misc:Depends}
Description: Switcher for audio, video, data and network streams. 
 Switcher is the successor of Scenic's milhouse utility. It provides basic video 
 signal routing, switching and mixing features. It was created at the 
 Society for Arts and Technology (SAT) to give to artists a powerful tool for 
 telepresence in contexts of live arts and new media installations.
 .
 This package contains the documentation.

Package: libswitcher-0.4-plugins
Section: libs
Architecture: all
Provides: libswitcher-plugins
Replaces: libswitcher-plugins
Conflicts: libswitcher-plugins
Suggests: libswitcher-0.4-doc
Depends: 
 gsoap,
 libgtk2.0,
 liblo7,
 libportmidi,
 libpulse,
 libswitcher-0.4-0 (= ${binary:Version}),
 ${misc:Depends}
Description: Plugins for Switcher, including gtk fullscreen window, 
 control from OSC and soap, midi support, pulse audio and v4l2. 
 .
 This package contains the binary shared libraries.

Package: switcher
Section: net
Architecture: any
Depends:
 libswitcher-0.4-0 (= ${binary:Version}),
 libswitcher-0.4-plugins (= ${binary:Version}),
 ${shlibs:Depends},
 ${misc:Depends}
Description: Switcher for audio, video, data and network streams. 
 Switcher is the successor of Scenic's milhouse utility. It provides basic video 
 signal routing, switching and mixing features. It was created at the 
 Society for Arts and Technology (SAT) to give to artists a powerful tool for 
 telepresence in contexts of live arts and new media installations.
 .
 This package contains the binary shared libraries.
